{{ attach_library('training_theme/card-list') }}

<section class="card-list{{ modifier ? ' ' ~ modifier }}">
  {% if section_title %}
    {%
      include '@training_theme/heading/heading.twig' with {
        "heading": section_title
      } only
    %}
  {% endif %}

  {% if items %}
    <ul class="card-list__items">
      {% block card_items %}
        {% for item in items %}
          <li class="card-list__item">
            {%
              include '@training_theme/card/card.twig' with {
                "image": item.image,
                "caption": item.caption,
                "eyebrow": item.eyebrow,
                "heading": item.heading,
                "subheading": item.subheading,
                "text": item.text,
                "cta": item.cta
              } only
            %}
          </li>
        {% endfor %}
      {% endblock %}
    </ul>
  {% endif %}
</section>
